*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-section{
   background: url(../img/header-background.png) no-repeat; 
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
}
.text-primary{
    color: #1e266d !important;
}
.btn-primary{
    background-color:#1e266d !important;
}
.btn-solid-lg{
    background-color: #ff6c02;
    line-height: 0;
    transition: all 0.2s;
}
.btn-outline-lg{
    border: 1px solid #ff6c02;
    color: #ff6c02;
    line-height: 0;
    transition: all 0.2s;
}
#header-section{
    padding-top: 10.75rem !important;
    padding-bottom: 13rem !important;
}
#header-1{
    background-color: #f9f9f9;
}
#page-body{
    min-height: 100vh;
}
.header-2{
    width: 50%;
    min-height:70vh;
    background-color: #f9f9f9;
}
.text-box p{
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
.form-input .form-control{
    line-height: 1.875rem;
    transition: all 0.2s;
}
.btn-solid-sm{
    border: 1px solid #ff6c02;
    background-color: #ff6c02;
    transition: all 0.2s;
}
.btn-solid-sm:hover{
    background-color:#f8f9fa ;
}
#footer{
    background-color: #f9f9f9;
}
.fa-stack{
    font-size: 1.5em;
}
.text-container{
    margin-top: 7rem !important;
}
#feature-section{
    background-color: #040470;
    min-height: 100vh;
}
.card-icon{
    color: #ff6c02;
    line-height: 4.625rem;
}
.card{
    background-color: #040470 !important;
}
.card-icon-wrapper {
    border-left: 1px solid #ff6c02;
}
.card-icon {
    width: 74px;
    height: 74px;
    background-color: #3232a0;
}
#introduction-section{
    min-height: 100vh;
}
#heading{
    background-color: #f9f9f9;
    margin-top: 6rem !important;
}
#testimony-section{
    background-color: #040470 !important;
    min-height: 100vh;
}
#testimony-section .card{
    background-color: #fff !important;
}
#testimony-section .card-body{
    min-height: 30vh ;
}
.testimonail-image img{
    height: 100px;
}